.product:hover{
    transform:scale(1.02);
    transition: 0.16s ease-in-out all;
    cursor: pointer;
}

.footer{
    position: relative;
    width:100%;
    height:200px;

}
.footer div ul li{
list-style: none;

}