<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/login.css">
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Login</title>
</head>
<body>
    
    <div class="container">
<div class="logo">
    <h1 style="color:purple">E-Commerce</h1>
</div>




        <div class="login-div">
            <div class="form-head">
            <h1>Login</h1>
      
       </div>

       <div class="admin-s1">
        <a href="/login" style="border-radius: 25px;background-color: cyan;
        padding: 8px 8px;border:0.8px solid rgba(0,0,0,0.5);color:black;text-decoration: none;">Login as Customer</a>
    </div>
    
       <%-include ("./partials/messages.ejs")%>
        
       <form class="login-form" action="/admin_login" method="post" name="log-form">   
       
        <input type='email' name="email" placeholder="Email">
       <input type="password" name="password" placeholder="Password">

       
       <button type="submit" class="log-btn">Login As Admin</button>
       </form>
</div>

    </div>
   
</body>
</html>