
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%-include ("./partials/navbar.ejs")%>
 
    <div class="container">
        <a href="/dashboard/add_admin" class="btn-floating float btn-large waves-effect waves-light red"><i class="fas fa-add"></i></a>

    <table class="striped white" style="color: black !important; ">
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <%if(admins.length>0){%>
            <%admins.forEach(admin=>{%>
                <tr>
                    <td><%=admin.username%></td>
                    <td><%=admin.email%></td>
                    <td><button class="btn red">Remove</button>
                    <button class="btn blue">Edit</button></td>
                </tr>
                <%})%>
                <%}else{%>
                    <p>Empty</p>
                    <%}%>
        </tbody>
      </table>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script> M.AutoInit();
  
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });
  </script>

  </body>
  </html>