<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Login</title>
</head>
<body>
    
    <div class="container">
<div class="logo">
    <h1 style="color:purple">E-Commerce</h1>
</div>

<div class="checker">

<div class="email-check">
    <input type="email" required class="user-email" name="email" placeholder="Enter Email">
</div>
<button class="email-btn btn">Enter</a>



</div>


</div>


<!--scripts-->
  

<script>
    
    



//call


 
document.querySelector(".email-btn").addEventListener("click",(e)=>{
    
    e.preventDefault();
    const email=document.querySelector(".user-email").value;
    const emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i;
    if(emailRegex.test(email)){
const url="http://localhost:3000/password-change";
fetch(url,{
    method:'POST',
    headers:{
        "Content-Type":"application/json"
    },
    body:JSON.stringify({email:email})
 }).then(response=>{
    if(response.ok){ 
        return response.json();
    }
 }).then(final=>{
 if(final){
      
         console.log('ok')
 }
 })
    }
    else{
        window.alert("Enter a valid email")
    }
  })
  



</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     


</body>

</html>