<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/css.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Login</title>
</head>
<body>
    
    <div class="container">
<div class="logo">
    <h1 style="color:purple">E-Commerce</h1>
</div>

<div class="checker">

<div class="email-check">
    <input type="email" required class="user-email" name="email" placeholder="Enter Email">
</div>
<a href="#" class="email-btn">Enter</a>
<div class="code-check" >
    <input type="text"  name="code" placeholder="Enter Code">
</div>

<div class="new-password">
    <input type="text"  name="new-password" placeholder=" New Password">
</div>

<div class="confirm-password">
    <input type="text"  name="confirm-password" placeholder="Confirm Password">
</div>

<div class="time" style="color: black;">
    
    <div id="timer"></div>
</div>

</div>


</div>


<!--scripts-->
  

<script>
    let timeInSeconds = 60;

function updateTimer() {
  const timerElement = document.getElementById('timer');
  timerElement.innerText = `0:${timeInSeconds}`;

  
  if (timeInSeconds === 0) {
    timerElement.innerText = 'Code Expired';
  } else {
    
    timeInSeconds--;
    setTimeout(updateTimer, 1000); 
  }
}



//call


 
document.querySelector(".email-btn").addEventListener("click",(e)=>{
    
    e.preventDefault();
    const email=document.querySelector(".user-email").value;
    const emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i;
    
const url="http://localhost:3000/password-change";
fetch(url,{
    method:'POST',
    headers:{
        "Content-Type":"application/json"
    },
    body:JSON.stringify({email:email})
 }).then(response=>{
    if(response.ok){ 
        return response.json();
    }
 }).then(final=>{
 if(final=='ok'){
    document.querySelector(".code-check").style.display="block";
    document.querySelector(".time").style.display="block";
    document.querySelector(".email-btn").style.display="none";
    updateTimer();
 }
 })

  })


</script>



</body>

</html>