<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/login.css">
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Login</title>
</head>
<body>
    
    <div class="container">
<div class="logo">
    <h1 style="color:purple">E-Commerce</h1>
</div>


        <div class="login-div">
            <div class="form-head">
            <h1>Login</h1>
       <p>Stay Connected</p>
       </div>
       <%-include ("./partials/messages.ejs")%>
      
       <form class="login-form" action="/login" method="post" name="log-form">   
       <input type='email' name="email" placeholder="Email">
       <input type="password" name="password" placeholder="Password">

       
       <button type="submit" class="log-btn">Login</button>
       <p class="below-p">New to E-Commerce? <a href="/signup">Join now</a></p>
       </form>
</div>

    </div>
   
</body>
</html>