<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Login</title>
</head>
<body>
    
    <div class="container">
<div class="logo">
    <h1 style="color:purple">E-Commerce</h1>
</div>

<div class="checker">

<div class="overlay"><div class="preloader-wrapper active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div></div>

<h3 style="color:black;">Reset Password</h3>






<div class="input-field">
    <input type="text" class="new" placeholder="New Password">
</div>

<div class="input-field">
    <input type="text" class="confirm" placeholder="Confirm Password">
</div>

<button class="btn reset-btn red">Reset</button>
</div>


</div>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
<script>
M.AutoInit();
document.querySelector(".reset-btn").addEventListener("click",(e)=>{
  e.preventDefault();
  const New=document.querySelector(".new").value;
  const confirm=document.querySelector(".confirm").value
  if(New==confirm){
    fetch("/update-password",{
        method:"POST",
        headers:{
            "Content-Type":"application-json"
        },
        body:JSON.stringify({password:New})
    }).then((Response)=>{
        if(Response.ok){
            return Response.json();
        }
    }).then(final=>{
        console.log(final);
    })
  }else{
    window.alert("Password doesn't match")
  }
 
})


</script>

</body>

</html>