<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Login</title>
</head>
<body>
    
    <div class="container">
<div class="logo">
    <h1 style="color:purple">E-Commerce</h1>
</div>

<div class="checker">

<div class="overlay1">
  <div class="loading"></div>
</div>

<h3 style="color:black;">Reset Password</h3>




<div class="input-field">
  <input type="email" class="email" placeholder="Email">
</div>

<div class="input-field">
    <input type="text" class="new" placeholder="New Password">
</div>

<div class="input-field">
    <input type="text" class="confirm" placeholder="Confirm Password">
</div>

<button class="btn reset-btn red p2">Reset</button>
</div>


</div>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
<script>
M.AutoInit();
document.querySelector(".reset-btn").addEventListener("click",(e)=>{
  e.preventDefault();
  const email=document.querySelector(".email").value;
  const password=document.querySelector(".new").value;
  const confirm=document.querySelector(".confirm").value
  console.log(email,password,confirm);
  const url="https://witty-pantyhose-ray.cyclic.cloud/update-password";
  if(password==confirm && password.length>0 && email.length>0){
    document.querySelector(".overlay1").style.display='flex';
    fetch(url,{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({email:email,password:password})
    }).then((Response)=>{
        if(Response.ok){
            return Response.json();
        }
       
    }).then(final=>{
      if(final){ 
       
       document.querySelector(".overlay1").style.display="none";
       M.toast({html: final})
       
}
else{
  document.querySelector(".overlay1").style.display="none";
       M.toast({html: 'hurray'})
}
    })
  }else{
    window.alert("Please Fill all feilds")
  }
 
})


</script>

</body>

</html>
