<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/reg.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Signup</title>
</head>
<body>
    
    <div class="container">
<div class="logo">
    <h1 style="color:purple">E-Commerce</h1>
</div>


        <div class="login-div">
            <div class="form-head">
            <h1>Signup</h1>
       <p>Get yourself on the mark</p>
       </div>
       <%-include ("./partials/messages.ejs")%>
       <form class="login-form" method="post" action="/signup" name="log-form">   
       <input type="text" name="username" placeholder="Username">
       <input type="email" name="email" placeholder="Email">
       <input type="password" name="password" placeholder="Password">

<hr style="position:relative;top:17px;">
       <button type="submit" class="log-btn">Signup</button>
       <p class="below-p">Already connected? <a href="/login">SignIn</a></p>
       </form>
</div>

    </div>


</body>
</html>